/*font-family: 'Noto Serif', serif;
font-family: 'Sarabun', sans-serif;*/

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}


.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

body {
  margin: 0px;
  background-color: #E5F9F8;
  font-family: 'Noto Serif', serif;
  color: #085673;
}

main{
  width: 90%;
  max-width: 1000px;
  background:#FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

nav {
  color: #085673;
  background-color: #FFF;
  padding: 0;
  display: block;
  margin: 0;
  border-bottom: 3px solid #085673;
}

h1 {
  font-family: 'Sarabun', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: 'Sarabun', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

h3 {
  font-family: 'Sarabun', sans-serif;
  font-size: 1rem;
  margin: 0;
}

ul, ol, li {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

nav a {
  color: #085673;
}

a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

nav li, nav li a {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #E5F9F8;
  color: #085673;
  padding: 1rem;
}

footer {
  background:#085673;
  color: #FFF;
  width: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

/*media sections*/

.location-holder, .media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

/*figure and .gallery-images styles*/

.gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  width: 100%;
  max-width:700px;
}

.gallery-image img {
  width: 100%;
}

/*when the browser is at least 555px wide*/

@media (min-width: 555px) {

  .media-holder {
    flex-direction: row;
  }

  .image-holder {
    width: 30%;
  }

  .media-list .text-holder {
    width: 70%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li {
    width: 50%;
  }

}

/*when teh browser is at least 800px wide*/
@media (min-width: 800px) {

.image-holder {
  width: 250px;
}

.media-list .text-holder {
  width: calc(100% - 250px);
}

nav li {
  width: 25%;
}

}
